<div class="container-fluid my-4">
  <div class="row">
    <div class="custom-box" *ngFor="let center of centers;">
      <div class=" shadow-lg mb-3">
        <div class="p-3 card-header text-center bg-label-primary">
          {{ center.name }}
        </div>
        <div class="rounded-bottom bg-label-gray pt-2">
          <div class="px-5" [ngClass]="changeStatus(center.temp1,null)">
            <p><i class="fas fa-thermometer-half "></i> دما سالن 1:
              <strong>{{ center.temp1 }} سانتی گراد </strong></p>
          </div>
          <div class="px-5" [ngClass]="changeStatus(center.temp2,null)">
            <p><i class="fas fa-thermometer-half "></i> دما سالن 2:
              <strong>{{ center.temp2 }} سانتی
                گراد </strong></p>
          </div>
          <div class="px-5" [ngClass]="changeStatus(null,center.hum)">
            <p><i class="fas fa-droplet "></i> رطوبت:
              <strong>{{ center.hum }}%</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
